# AWS RDS PostgreSQL connection (provided by the instructor)
RDS_HOST=imt-etl-db.ctyow40gk3bq.eu-west-3.rds.amazonaws.com
RDS_PORT=5432
RDS_DATABASE=imt-etl-db
RDS_USER=eva_lansalot
RDS_PASSWORD=Btq!Dzve0*Eq4f#0

# Schema names (replace 0 with your group number)
BRONZE_SCHEMA=bronze_group5
SILVER_SCHEMA=silver_group5
GOLD_SCHEMA=gold_group5

# AWS S3 (read-only — raw data)
S3_BUCKET_NAME=kickz-empire-data
S3_PREFIX=raw
AWS_REGION=eu-west-3
AWS_ACCESS_KEY_ID=AKIATXCZCFJ4C4AWKWOZ
AWS_SECRET_ACCESS_KEY=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
